*, *::before, *::after {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background: #ddd;
  }
  
  main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }